import * as Styles from './styles';

export interface Props {
  title: string;
}

const {{pascalCase name}} = ({ title }: Props) => {
  return (
    <Styles.Wrapper>
      <h1>{{pascalCase name}}</h1>
      <h2>{title}</h2>
    </Styles.Wrapper>
  );
};

export default {{pascalCase name}};
